include README.md
include README.zh.md
include LICENSE
include CHANGELOG.md
include pyproject.toml

recursive-include src/svipro *.py
recursive-include docs *.md *.png *.jpg
recursive-include examples *.py *.md *.geojson *.yaml

exclude .gitignore
exclude .DS_Store
recursive-exclude .git *
recursive-exclude __pycache__ *
recursive-exclude *.py[cod]
recursive-exclude .pytest_cache *
recursive-exclude .svipro_cache *
